@import '@/views/MarketPlace/Assets/Styles/Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&family=Inter:wght@500&family=Readex+Pro:wght@500&display=swap');

.reset {

  //reset
  * {
    padding: 0;
    margin: 0;
    border: 0;
    user-select: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  :focus,
  :active {
    outline: none;
  }

  a:focus,
  a:active {
    outline: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  input::-ms-clear {
    display: none;
  }

  button {
    cursor: pointer;
  }

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  ul li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
}

.marketPlace {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('@/views/MarketPlace/Assets/Images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 3.704vmin 2.963vmin 4.537vmin 4.907vmin;

  &-background-triangles {
    position: absolute;
    top: 2.13vmin;
    left: 0;
    width: 3.796vmin;
    height: 9.074vmin;
  }

  .header-storage {
    font-weight: 700;
    font-size: 1.667vmin;
    color: rgba(255, 255, 255, 0.95);
  }

  .aside-inventory {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.463vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-inventory-empty {
    font-size: 2vmin;
    font-weight: 700;
  }

  &-body {
    width: 100%;
    height: 100%;
    color: white;

    .content {
      overflow: hidden;
    }

    .logo {
      margin-bottom: 2.407vmin;

      &-title {
        font-weight: 700;
        font-size: 2.222vmin;
        text-shadow: 0 0.37vmin 2.963vmin rgba(95, 216, 223, 0.25);
        background: linear-gradient(94deg, #fff 0%, #b5b5b5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 0.2vmin;

        &>span {
          -webkit-text-fill-color: $main-color1;
        }
      }

      &-description {
        font-weight: 300;
        font-size: 1.111vmin;
        color: rgba(255, 255, 255, 0.44);
      }

      * {
        font-family: 'IBM Plex Mono';
      }
    }
  }
}

.inTablet {
  .marketPlace-body {
    display: grid;
    grid-template-columns: 25vmin 1fr;
    grid-template-rows: 6.296vmin 1fr;
    grid-column-gap: 2.963vmin;
    grid-row-gap: 2.407vmin;
  }
}

.inStorage {
  .marketPlace-background-triangles {
    opacity: 0;
    pointer-events: none;
  }

  .marketPlace-body {
    display: flex;
    flex-direction: column;
    .logo {
      display: none;
    }
    .aside {
      display: none;
    }
    .header {
      height: 6.296vmin;
    }
  }
}

.router-enter-from {
  opacity: 0;
}

.router-enter-to {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.router-leave-from {
  opacity: 1;
}

.router-leave-to {
  opacity: 0;
  transition: opacity 0.3s ease;
}