@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro ExtraThin';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-ExtraThin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Italic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../Fonts/PFDinDisplayPro/PFDinDisplayPro-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
