.itemsList {
  width: 100%;
  height: 100%;
  &-openedItem {
    width: 100%;
    height: 100%;
  }

  &-list {
    display: grid;
    width: 100%;
    height: 95%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 24.444vmin);
    grid-gap: 1.852vmin;
    padding: 0.556vmin 0.463vmin 0.926vmin;
    overflow: hidden;
    &-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: -1;
    }
  }
}
