.exchange {
  .top {
    display: flex;
    gap: 4.907vmin;
    height: 46vmin;
    margin-bottom: 3.2vmin;
  }

  .btns{
    display: flex;
    gap: 1.111vmin;

    .trash{
      width: 20%;
    }
  }
  .item {
    width: 37.222vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-info {
      &-title {
        font-weight: 700;
        font-size: 1.574vmin;
        color: #fff;
        margin-bottom: 1.2vmin;
      }
      margin-bottom: 1.852vmin;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-img {
      width: 100%;
      height: 24.722vmin;
      margin-bottom: 1.944vmin;
      padding: 1.944vmin 0;
      border-radius: 0.463vmin;
      display: flex;
      justify-content: center;
      position: relative;
      backdrop-filter: blur(2.88vmin);
      background: rgba(255, 255, 255, 0.02);
    }

    &-button {
      width: 100%;
      border-radius: 0.185vmin;
      background: #5F9ADF;
      font-weight: 700;
      font-size: 1.204vmin;
      padding: 1.944vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition:
        transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        background 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }

      &:active {
        transform: scale(1.05);
      }
    }
    .off {
      background: rgba(255, 255, 255, 0.08);
      pointer-events: none;
    }

    &-description {
      margin-bottom: 1.574vmin;

      &-title {
        font-weight: 500;
        font-size: 1.296vmin;
        color: #fff;
        margin-bottom: 0.741vmin;
      }

      &-content {
        font-weight: 400;
        font-size: 1.111vmin;
        color: rgba(255, 255, 255, 0.16);
      }
    }

    &-warning {
      margin-top: 0.926vmin;
      font-weight: 400;
      font-size: 1.111vmin;
      color: rgba(255, 255, 255, 0.16);
      text-align: center;
    }
  }

  &-graph {
    height: 100%;
    padding: 1.852vmin 0 2.315vmin;

    &-title {
      font-weight: 700;
      font-size: 1.667vmin;
      padding: 0 1.852vmin;
    }

    background: rgba(255, 255, 255, 0.02);
    border-radius: 0.741vmin;
  }
}