.addLot {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.51);

  &-body {
    width: 48.611vmin;
    border-radius: 1.481vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #101114;
    padding: 3.704vmin 4.63vmin;

    &-title {
      font-weight: 700;
      font-size: 1.852vmin;
      color: #fff;
      margin-bottom: 2.13vmin;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 2.13vmin;
      margin-bottom: 2.13vmin;

      .info-wrapper {
        display: flex;
        gap: 1.6vmin;
        align-items: center;
        margin-bottom: 2.685vmin;
      }

      &-unit {
        &-title {
          font-weight: 400;
          font-size: 1.296vmin;
          margin-bottom: 0.8vmin;
          color: rgba(255, 255, 255, 0.55);
        }

        &-value {
          font-weight: 600;
          font-size: 1.481vmin;
          color: #fff;

          & > span {
            font-weight: 400;
            color: rgba(255, 255, 255, 0.36);
          }
        }
      }
    }

    &-input {
      &-title {
        font-weight: 600;
        font-size: 1.296vmin;
        color: #fff;
        margin-bottom: 1.204vmin;
      }

      &-field {
        margin-bottom: 2.13vmin;
      }
    }

    &-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1vmin;

      .cost {
        font-weight: 600;
        font-size: 1.481vmin;
        color: #0f6;
      }
    }
    &-actions {
      margin-top: 2.13vmin;
      display: flex;
      gap: 1.111vmin;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.926vmin;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 0.278vmin;
        font-weight: 600;
        font-size: 1.296vmin;
        text-align: center;
        color: #fff;
        width: 100%;
        cursor: pointer;
        transition:
          transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          background 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0 2.407vmin 0 rgba(91, 197, 88, 0.13);
        }

        &:active {
          transform: scale(1.04);
        }
      }
      .cancel {
        background: rgba(255, 255, 255, 0.03);
        &:hover {
          transform: scale(1.02);
          box-shadow: 0vmin 0vmin 0.556vmin 0.185vmin rgba(255, 0, 0, 0.5);
        }

        &:active {
          transform: scale(1.04);
        }
      }
      .confirm {
        background: #5bc558;
        &:hover {
          box-shadow: 0 0 2.407vmin 0 rgba(91, 197, 88, 0.13);
        }
      }
    }
  }
  *{font-family: "PF DinDisplay Pro";}
}
