.listBlock {
  padding: 0.926vmin 0;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 0.833vmin;
  height: 100%;

  &-title {
    font-weight: 700;
    font-size: 1.667vmin;
    margin-left: 1.574vmin
  }

  .list {
    &-headings {
      margin: 1vmin 0;
      display: flex;
      width: calc(100% - 2.1vmin);
      padding: 0 1.574vmin;

      &-heading {
        flex-basis: 8.426vmin;
        flex-grow: 1;
        font-weight: 500;
        font-size: 1.111vmin;
        text-align: center;
        color: rgba(255, 255, 255, 0.18);
      }
    }

    &-offers {
      padding: 0 1.574vmin;
      display: flex;
      flex-direction: column;
      gap: 1.389vmin;
      overflow-y: auto;
      height: calc(100vh - 62vmin);

      &::-webkit-scrollbar {
        width: 0.37vmin;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.463vmin;
        background: #fff;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0.463vmin;
        background: rgba(255, 255, 255, 0.02);
      }
    }
  }
}